.reveal {
  text-shadow: 0 0 3px #333;
}

.reveal ul li {
  line-height: 1.5em;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  text-shadow: 0 0 3px #333;
}

.reveal .slide-background {
  background-image: url("../images/bg-3.png");
}

.reveal .footer {
  position: absolute;
  bottom: 6px;
  left: 6px;
  font-size: 0.4em;
  z-index: 99;
}
